*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/app/release
/captures
.externalNativeBuild
.cxx
local.properties

# Signing/keys
*.jks
*.keystore
keystore.properties

# Build artifacts
*.apk
*.ap_
*.aab
*.hprof

# Editors/Tools
.vscode/
